<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Edit</title>
</head>
<body>
  <body>
    <h1>Edit Skill</h1>
    <form action="/skills/<%= skill._id %>?_method=PUT" method="POST" autocomplete="off">
      <h3>Skill Name</h2>
      <input value="<%= skill.name %>" type="text" name="name"><br>
      <h3>Use Case</h2>
      <input style="width:600px" style="height:300px" value="<%= skill.useCase %> " type="text" name="useCase"><br><br>
      <button type="submit">Update Skill</button>
    </form>
  </body>
</body>
</html>