<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Brandon's Dev Skills</h1>
  <a href="/skills/new">Add Skill</a><br><br>
  
  <ul>
    <% skills.forEach(skill => { %>
      <li>
      <li>
				<h2><a href="/skills/<%= skill._id %>"><%= skill.name %></a></h2> 
				<%= skill.mastered ? 'Mastered: Yes' : 'Mastered: No' %>
        -
        <%= skill.useCase %> 
         <!-- ask question in lab review - how do i get this to update text -->
         
			</li><br>
    <% }) %>
  </ul>
  <a href="/">Go Home</a>
</body>
</html>


